<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
    <link rel="stylesheet" th:href="@{/styles/stylesheet.css}"/>
</head>
<body>
<h1>Добавление книги</h1>
<form method="post" th:object="${book}">
    <div class="container">
        <label>Имя
            <input th:field="*{title}" type="text"/>
        </label>
        <br/>
        <span class="validationError" th:errors="*{title}"
              th:if="${#fields.hasErrors('title')}">Name error</span>
    </div>
    <div class="container">
        <label>Автор
            <input th:field="*{author}" type="text"/>
        </label><br/>
        <span class="validationError" th:errors="*{author}"
              th:if="${#fields.hasErrors('author')}">Author error</span>
    </div>
    <div class="container">
        <label>Жанры
            <div th:each="genre : ${genres}">
                <input th:field="*{genres}" th:value="${genre.id}" type="checkbox"/>
                <span th:text="${genre.title}"></span><br/>
            </div>
            <span class="validationError" th:errors="*{genres}"
                  th:if="${#fields.hasErrors('genres')}">Genres error</span>
        </label>
    </div>
    <div class="container">
        <label>Год выпуска
            <input th:field="*{publishYear}" type="number"/>
        </label><br/>
        <span class="validationError" th:errors="*{publishYear}"
              th:if="${#fields.hasErrors('publishYear')}">PublishYear error</span>
    </div>
    <button>Добавить</button>
</form>
</body>
</html>