<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h1>Книги</h1>
    <div th:each="book : ${books}">
        <div class="container">
            <h3>
                <span th:text="${book.name}"></span> от <span th:text="${book.author}"></span>
            </h3>
            Год выпуска: <span th:text="${book.publishYear}"></span><br/>
            <div th:if="${not #lists.isEmpty(book.genres)}">
                <span th:text="${book.getGenresText}"></span>
            </div>
            Опубликовал: <span th:text="${book.publisher.username}"></span>
            <form action="/book/delete" method="post">
                <input type="hidden" name="bookId" th:value="${book.id}" />
                <button type="submit">Удалить</button>
            </form>
        </div>
    </div>
        <a href="/book/add" class="button"><button>Добавить новую</button></a>
</div>
</body>
</html>