<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<h1>Добавление книги</h1>
<form method="post" th:object="${book}">
    <div class="container">
        <label>Имя
            <input type="text" th:field="*{name}"/>
        </label>
        <br/>
        <span class="validationError" th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name error</span>
    </div>
    <div class="container">
        <label>Автор
            <input type="text" th:field="*{author}"/>
        </label><br/>
        <span class="validationError" th:if="${#fields.hasErrors('author')}"
              th:errors="*{author}">Author error</span>
    </div>
    <div class="container">
        <label>Жанры
            <div th:each="genre : ${genres}">
                <input th:field="*{genres}" type="checkbox" th:value="${genre.id}"/>
                <span th:text="${genre.title}"></span><br/>
            </div>
            <span class="validationError" th:if="${#fields.hasErrors('genres')}"
                  th:errors="*{genres}">Genres error</span>
        </label>
    </div>
    <div class="container">
        <label>Год выпуска
            <input type="number" th:field="*{publishYear}"/>
        </label><br/>
        <span class="validationError" th:if="${#fields.hasErrors('publishYear')}"
              th:errors="*{publishYear}">PublishYear error</span>
    </div>
    <button>Добавить</button>
</form>
</body>
</html>