<!DOCTYPE html>
<taglib prefix="sec" uri="http://www.springframework.org/security/tags">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" th:href="@{/styles/stylesheet.css}"/>
    </head>
    <body>

    <div sec:authorize="isAuthenticated()">
        Добрый день, <span sec:authentication="name"/>!
        <a class="button" href="/logout">
            <button>Выйти</button>
        </a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a href="/login">
            <button>Войти</button>
        </a>
    </div>

    <div class="center">
        <img th:src="@{/images/books.png}" width="80%"/>
        <h1>Добро пожаловать в BookStore!</h1>
        <div class="container">
            <a class="button" href="/book/add">
                <button>Новая книга</button>
            </a>
            <a class="button" href="/book/show">
                <button>Все книги</button>
            </a>
            <a class="button" href="/search">
                <button>Поиск</button>
            </a>
        </div>
    </div>

    </body>
    </html>