<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/stylesheet.css}"/>
</head>
<body>
<h1>Авторизация</h1>
<div th:if="${param.error}">
    Данные не верны. Проверьте логин и пароль
</div>
<p>Нет аккаунта?
    <a th:href="@{/register}">Регистрация</a></p>
<form id="loginForm" method="POST" th:action="@{/login}">
    <div class="container">
        <label for="username">Логин: </label>
        <input id="username" name="username" type="text"/><br/>
    </div>
    <div class="container">
        <label for="password">Пароль: </label>
        <input id="password" name="password" type="password"/><br/>
    </div>

    <div class="container">
        <input type="submit" value="Войти"/>
    </div>
</form>
</body>
</html>