<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bookstore</title>
  <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<h1>Регистрация</h1>
<form method="POST" th:action="@{/register}" id="registerForm">
  <div class="container">
    <label for="username">Логин: </label>
    <input type="text" name="username" id="username"/><br/>
  </div>
  <div class="container">
    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password"/><br/>
  </div>
  <div class="container">
    <input type="submit" value="Зарегистрироваться"/>
  </div>
</form>
</body>
</html>