<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
    <link th:href="@{/styles/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<h1>Поиск книги</h1>
<form method="get" action="/book/show" th:object="${bookSearch}">
    <div class="container">
        <label>Название книги
            <input type="text" th:field="*{bookNameSearch}"/>
        </label>
    </div>
    <div class="container">
        <label>Автор
            <input type="text" th:field="*{getAuthor}"/>
        </label>
    </div>
    <button>Поиск</button>
</form>
</body>
</html>